body {
  margin: 0;
  font-family: sans-serif;
  overflow: auto;
  min-width: 320px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 15px;
}
